body{
    background-color: #1abc9c;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

.container{
    background-color: white;
    display: flex;         
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
}

.contform{
    width: 60%;
}


p{
    text-align: center;
}

.label{
    color: #1abc9c;
}

.login-btn{
    display: block;
    margin: 30px auto;
    border-style: none;
    background-color: #1abc9c;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 100%;
}

.container2{
    background-color: white;
    display: flex;         
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 40px 0;
}

.container-form{
    width: 60%;
}
h1{
    text-align: center;
    margin-bottom: 30px;
} 

.btn{
    display: block;
    margin: 30px auto;
    border-style: none;
    background-color: #54a389;
    padding: 10px;
    border-radius: 10px;
    color: white;

    width: 100%;
}
p{
    text-align: center;
}
span{
    color: #54a389;
}

form #user{
    display: block;
    border-style: none;
    border-bottom: 1px solid black;
    height: 20px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}

h1{
    color: #54a389;
    text-align: center;
    margin: 0;
} 
form .text{
    display: block;
    margin: 30px 0;
    border: 1px solid gray;
    height: 50px;
    width: 100%;
    padding:10px;
}
form #pass{
    display: block;
    border-style: none;
    border-bottom: 1px solid black;
    height: 20px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.separator{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}
.separator .line {
    height: 1px;
    flex:1;
    margin-left:5px ;
    background-color: #c5c5c5;
}
h4{
    margin-left: 8px;
}

.contform input:focus~label,
.contform input:valid~label {
    top: -5px;
}

.logo img {
    width: 10%;
    margin-left: 20px;
}
.cardContainer {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.cardContainer {
    padding: 15px;
}


.footercontainer ul li img {
    width: 60px;
}

.footercontainer ul li {
    color: gray;
    font-weight: 500;
    list-style-type: none;
    display: inline-block;
    align-items: center;
    padding-left: 4%;
}

.sign-btn,
.apple-btn {
    border-radius: 50px;
    width: 280px;
    height: 50px;
    border: 1px solid gray;
}


.sign-btn {
    border-radius: 50px;
    width: 280px;
    height: 50px;
}

.new {
    text-decoration: none;
    font-weight: bold;
}

.CenterContainer {
    display:flex;
    place-items: center;
}
input {
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;

}

.inputcontainer {
    position: relative;
    display: inline-block;
}

.inputcontainer input {
    width: 120%;
    margin-left: 100px;
}

.end-text {
    position: absolute;
    right: -140px;
    bottom: 20px;
    color: blue;
    cursor: pointer;
}

.link a{
    text-decoration: none;
    margin-left: -45px;
}

.apple-btn,
.sign-btn,
.link
{
    margin-left: 150px;
}
